[Desktop Entry]
Version=1.0.4
Name=Magic On Click
Comment=Ferramenta de instalação de software
Exec=/usr/bin/magic
Icon=/usr/share/magic/assets/hicolor/256x256/apps/magic.png
Terminal=false
Type=Application
Categories=Utility;
